amdsmi @ file:///opt/rocm_sdk_612/share/amd_smi
annotated-types==0.7.0
anyio==4.9.0
argcomplete==3.6.2
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==3.0.0
async-lru==2.0.5
attrs==25.3.0
audioread==3.0.1
babel==2.17.0
barectf==3.1.2
beautifulsoup4==4.13.4
bitsandbytes @ file:///home/tharvey/work/rocm_sdk_builder/src_projects/bitsandbytes/dist/bitsandbytes-0.43.2.dev0-cp311-cp311-linux_x86_64.whl#sha256=920f6e365fbe04484a8f033bc4f1dd37a123381b451ff5a7e3ffcf8d3e837c59
bleach==6.2.0
boto3==1.37.34
botocore==1.37.34
build==1.2.2.post1
Cerberus==1.3.7
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
clang==20.1.0
colorlover==0.3.0
comm==0.2.2
contourpy==1.3.2
CppHeaderParser==2.7.4
cufflinks==0.17.3
cycler==0.12.1
debugpy==1.8.14
decorator==5.2.1
deepspeed @ file:///home/tharvey/work/rocm_sdk_builder/src_projects/DeepSpeed/dist/deepspeed-0.15.1%2Ba1192ea7-cp311-cp311-linux_x86_64.whl#sha256=aff2de69470cbe361601edfe63e14d16f09a9bae5094a42417247fa436479327
defusedxml==0.7.1
diffusers==0.30.0
executing==2.2.0
fastjsonschema==2.21.1
filelock==3.18.0
flatbuffers==25.2.10
fonttools==4.57.0
fqdn==1.5.1
fsspec==2025.3.2
future==1.0.0
h11==0.14.0
h5py==3.13.0
hjson==3.1.0
httpcore==1.0.8
httpx==0.28.1
huggingface-hub==0.30.2
hypothesis==6.131.0
idna==3.10
imageio==2.37.0
importlib_metadata==8.6.1
ipykernel==6.29.5
ipython==9.1.0
ipython_pygments_lexers==1.1.1
ipywidgets==8.1.6
isoduration==20.11.0
jedi==0.19.2
Jinja2==3.1.6
jmespath==1.0.1
joblib==1.4.2
json5==0.12.0
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter-events==0.12.0
jupyter-lsp==2.2.5
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyter_server==2.15.0
jupyter_server_terminals==0.5.3
jupyterlab==4.4.0
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.14
Keras-Preprocessing==1.1.2
kiwisolver==1.4.8
lazy_loader==0.4
leveldb==0.201
librosa==0.11.0
llvmlite==0.44.0
lxml==5.3.2
MarkupSafe==3.0.2
matplotlib==3.10.1
matplotlib-inline==0.1.7
mistune==3.1.3
mpi4py @ file:///home/tharvey/work/rocm_sdk_builder/src_projects/mpi4py/dist/mpi4py-4.0.3-cp311-cp311-linux_x86_64.whl#sha256=19ac9fc5534bdd2e6001e32044aa3358b538865d27f84b302ae397b1af8b80a0
mpmath==1.3.0
msgpack==1.1.0
narwhals==1.35.0
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.4.2
ninja==1.11.1.4
notebook==7.4.0
notebook_shim==0.2.4
numba==0.61.2
numpy==2.2.4
onnx==1.17.0
onnxruntime-training @ file:///home/tharvey/work/rocm_sdk_builder/src_projects/onnxruntime/build/Linux/Release/dist/onnxruntime_training-1.18.1%2Bcpu-cp311-cp311-linux_x86_64.whl#sha256=4a6364114e07e86b17e6452b2f2e01c69188d5e9b7656832784b59e7aef00f2f
opencv-python==4.11.0.86
opt_einsum==3.4.0
overrides==7.7.0
packaging==24.2
pandas==2.2.3
pandocfilters==1.5.1
parso==0.8.4
pexpect==4.9.0
pillow==11.2.1
platformdirs==4.3.7
plotly==6.0.1
ply==3.11
pooch==1.8.2
prometheus_client==0.21.1
prompt_toolkit==3.0.51
protobuf==6.30.2
psutil==7.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
py-cpuinfo==9.0.0
pyaml==25.1.0
pybind11==2.13.6
pybind11_global==2.13.6
pycparser==2.22
pydantic==2.11.3
pydantic_core==2.33.1
pydot==3.0.4
Pygments==2.19.1
pyparsing==3.2.3
pyproject_hooks==1.2.0
PyQt5==5.15.11
PyQt5-Qt5==5.15.16
PyQt5_sip==12.17.0
pyrsistent==0.20.0
python-dateutil==2.9.0.post0
python-gflags==3.1.2
python-json-logger==3.3.0
pytz==2025.2
PyYAML==5.4.1
pyzmq==26.4.0
referencing==0.36.2
regex==2024.11.6
requests==2.32.3
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rpds-py==0.24.0
s3transfer==0.11.4
safetensors==0.5.3
scikit-image==0.25.2
scikit-learn==1.6.1
scipy==1.15.2
seaborn==0.13.2
Send2Trash==1.8.3
setuptools-scm==8.2.0
six==1.17.0
sniffio==1.3.1
sortedcontainers==2.4.0
soundfile==0.13.1
soupsieve==2.6
soxr==0.5.0.post1
stack-data==0.6.3
sympy==1.13.3
tabulate==0.9.0
termcolor==1.1.0
terminado==0.18.1
threadpoolctl==3.6.0
tifffile==2025.3.30
tinycss2==1.4.0
tokenizers==0.20.3
torch @ file:///home/tharvey/work/rocm_sdk_builder/src_projects/pytorch/dist/torch-2.4.1-cp311-cp311-linux_x86_64.whl#sha256=84cdd5e345e8fb9da88b45102bf9265cff02358c254bca325ae9af5b0bae248a
torch-migraphx @ file:///home/tharvey/work/rocm_sdk_builder/src_projects/torch_migraphx/py/dist/torch_migraphx-0.0.3-cp311-cp311-linux_x86_64.whl#sha256=b2d327093e2e6ff165d3dc2256b55c457dfd9313f4badf4d1360d24179bf2c00
torchaudio @ file:///home/tharvey/work/rocm_sdk_builder/src_projects/pytorch_audio/dist/torchaudio-2.4.1%2B2e13dd2-cp311-cp311-linux_x86_64.whl#sha256=a383aee4251d9d6c7fa578a658637ea2c58d51ab53bfd792d69c29bb05d1a2f8
torchvision @ file:///home/tharvey/work/rocm_sdk_builder/src_projects/pytorch_vision/dist/torchvision-0.20.0a0%2B4338f09-cp311-cp311-linux_x86_64.whl#sha256=605d529d0c88903f8c3e5a9fa6f2fe32b32efe1ea8baed3eed6b7fbfa2bdbbef
tornado==6.4.2
tqdm==4.67.1
traitlets==5.14.3
transformers==4.45.0
triton @ file:///home/tharvey/work/rocm_sdk_builder/src_projects/triton/python/dist/triton-3.0.0%2Bgit0fea1b65-cp311-cp311-linux_x86_64.whl#sha256=a7f89d902d36a840f26edbfced2bd1826e03719e4c554412b31b1e79a8d9f84c
types-python-dateutil==2.9.0.20241206
typing==3.7.4.3
typing-inspection==0.4.0
typing_extensions==4.13.2
tzdata==2025.2
uri-template==1.3.0
urllib3==2.4.0
wcwidth==0.2.13
webcolors==24.11.1
webencodings==0.5.1
websocket-client==1.8.0
widgetsnbextension==4.0.14
zipp==3.21.0
